.footer {
    padding: 40px 0 45px;
    &__bottom {
        .wrapper {
            @include flex();
        }
    }
    &--dark {
        background-color: $grey;
        .footerNav {
            ul {
                li {
                    a {
                        color: #FFF;
                    }
                }
            }
        }
        .copy,
        .powered {
            color: #FFF;
            a {
                color: #FFF;
            }
        }
        .social {
            &__item {
                &--fb {
                    &:hover {
                        background-position: 0 0;
                    }
                }
                &--tw {
                    &:hover {
                        background-position: -36px 0;
                    }
                }
                &--inst {
                    &:hover {
                        background-position: -76px 0;
                    }
                }
            }
        }
    }
}
.footerNav {
    ul {
        list-style-type: none;
        display: block;
        margin: 0 auto 35px;
        li {
            display: inline-block;
            vertical-align: middle;
            margin-right: 48px;
            &:last-of-type {
                margin-right: 0;
            }
            a {
                font: 18px $dsa;
                color: #000;
                display: inline-block;
                &.active,
                &:hover {
                    color: $grey;
                }
            }
        }
    }
}

.copy,
.powered {
    font: 18px $dsa;
    width: 300px;
    color: $grey;
    a {
        color: $grey;
    }
}