.works {
    @include flex($alignI: flex-start);
    &__example {
        width: 32.5%;
        background-position: 50% 50%;
        position: relative;
        -webkit-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
        margin-bottom: 1.5%;
        @media (max-width: 750px) {
            width: 49.2%;
        }
        @media (max-width: 500px) {
            width: 100%;
        }
        &__info {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            z-index: 2;
            @include flex($alignI: center, $direction: column,$justify: center);
            background-color: rgba(0,0,0, .5);
            opacity: 0;
            -webkit-transition: all .4s ease-out;
               -moz-transition: all .4s ease-out;
                -ms-transition: all .4s ease-out;
                 -o-transition: all .4s ease-out;
                    transition: all .4s ease-out;
            span {
                display: block;
                margin-bottom: 50px;
                color: #FFF;
                @media (max-width: 900px) {
                    margin-bottom: 30px;
                }
                @media (max-width: 800px) {
                    margin-bottom: 20px;
                }
            }
        }
        &:after {
          content: "";
          display: block;
          padding-bottom: 82%;
        }
        &:hover &__info {
            opacity: 1;
        }
    }
    &--5 {
        -webkit-justify-content: flex-start;
                justify-content: flex-start;
        .works__example {
            width: 20%;
            margin: 0;
            &:after {
              padding-bottom: 76%;
            }
            @media (max-width: 1200px) {
                width: 25%;
            }
            @media (max-width: 900px) {
                width: 33.333%;
            }
            @media (max-width: 600px) {
                width: 50%;
            }
            @media (max-width: 500px) {
                width: 100%;
            }
        }
    }
}

.filters {
    @include flex($justify: center);
    margin-bottom: 50px;
    button {
        margin: 0 22px;
        border: none;
        background-color: $green;
        color: #FFF;
        height: 30px;
        padding: 0 10px;
        -webkit-border-radius: 6px;
                border-radius: 6px;
        @include transition(all, .2s);
        font: 14px $dsab;
        cursor: pointer;
        text-transform: uppercase;
        &:hover,
        &.active {
            background-color: $greenD;
        }
        @media (max-width: 700px) {
            margin: 10px;
        }
    }
}