.gallery {
    @include flex();
    margin-top: 40px;
    &__item {
        position: relative;
        margin-bottom: 20px;
        > img {
            max-width: 100%;
            width: 100%;
            display: block;
        }
        &__more {
            position: absolute;
            left: 0; top: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            background-color: rgba(0,0,0,.5);
            @include flex($direction: column, $alignI: center, $justify: center);
            -webkit-transition: all .4s ease-out;
               -moz-transition: all .4s ease-out;
                -ms-transition: all .4s ease-out;
                 -o-transition: all .4s ease-out;
                    transition: all .4s ease-out;
            .magn {
                display: block;
                margin: 0 auto 40px;
                width: 60px;
                height: 65px;
                background-image: url("../images/zoom-in.svg");
                -webkit-background-size: 100% 100%;
                     -o-background-size: 100% 100%;
                        background-size: 100% 100%;
            }
            span {
                font-size: 18px;
                display: block;
                text-align: center;
                color: #FFF;
                font-family: $dsa;
                margin-bottom: 20px;
            }
        }
        &:hover &__more {
            opacity: 1;
        }
    }
    &__item__100 {
        width: 100%;
    }
    &__item__50 {
        width: calc(50% - 10px);
    }
    &__item__33 {
        width: calc(33.1% - 10px);
    }
}

.project {
    .wrapper {
        text-align: left;
    }
    &__header {
       margin-bottom: 35px; 
    }
}

.pageNavigator {
    list-style-type: none;
    margin-bottom: 45px;
    @include flex();
    li {
        font: 18px $dsa;
        a {
            color: #000;
        }
        &:hover {
            a {
                color: $green;
            }
        }
        &.prev {
            &:before {
                display: inline-block;
                vertical-align: middle;
                content: "";
                width: 16px;
                height: 12px;
                margin-right: 9px;
                background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAMCAYAAABr5z2BAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA4RpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMTExIDc5LjE1ODMyNSwgMjAxNS8wOS8xMC0wMToxMDoyMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDpmOWY0YTI5Ny0yMTVjLTQwNDItYTBjMi01MWRiOWZkMDdiZjUiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6OUM4NEJBM0FBNUFGMTFFNkI1NzZCOTU3MzM0NEVDRUYiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6OUM4NEJBMzlBNUFGMTFFNkI1NzZCOTU3MzM0NEVDRUYiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTUgKFdpbmRvd3MpIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6YjkwZjFlMTgtNWViMi1lNjRhLWFjODktNWNmOGU5YWZiMzg4IiBzdFJlZjpkb2N1bWVudElEPSJhZG9iZTpkb2NpZDpwaG90b3Nob3A6NjRlMGE4MmMtOWI3Yy0xMWU2LTk2ODgtZGJkODZjMDEwYjZiIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+U+ud4gAAAIJJREFUeNpi1NBQY0ADHECcCcSTgPgvAwHAhEXzBiCOBeL/DEQAJiyaxYDYBYj/kWIAuuZ3DEQCJko0gwALEC8CYncgXgzEdQykgetMDBQCkAvigJgPiHXI8QLIBT+AOACIXwHxHiAWItUABkoMQQ4DdEOYSDUA2RBQjDASYwBAgAEAJ2caPcAUurMAAAAASUVORK5CYII=");
                -webkit-background-size: 100%;
                     -o-background-size: 100%;
                        background-size: 100%;
            }
            &:hover {
                &:before {
                    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAMCAYAAABr5z2BAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA4RpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMTExIDc5LjE1ODMyNSwgMjAxNS8wOS8xMC0wMToxMDoyMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDpmOWY0YTI5Ny0yMTVjLTQwNDItYTBjMi01MWRiOWZkMDdiZjUiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6NEJBREMzNTJBNUIwMTFFNjlCOUZCMUNFN0YwMjc4M0UiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6NEJBREMzNTFBNUIwMTFFNjlCOUZCMUNFN0YwMjc4M0UiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTUgKFdpbmRvd3MpIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6YjkwZjFlMTgtNWViMi1lNjRhLWFjODktNWNmOGU5YWZiMzg4IiBzdFJlZjpkb2N1bWVudElEPSJhZG9iZTpkb2NpZDpwaG90b3Nob3A6NjRlMGE4MmMtOWI3Yy0xMWU2LTk2ODgtZGJkODZjMDEwYjZiIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+fG3WrwAAAIJJREFUeNpi1KpTY0ADHECcCcSTgPgvAwHAhEXzBiCOBeL/DEQAJiyaxYDYBYj/kWIAuuZ3DEQCJko0gwALEC8CYncgXgzEdQykgetMDBQCkAvigJgPiHXI8QLIBT+AOACIXwHxHiAWItUABkoMQQ4DdEOYSDUA2RBQjDASYwBAgAEAMugaleMofoMAAAAASUVORK5CYII=");
                }
            }
        }
        &.next {
            &:after {
                display: inline-block;
                vertical-align: middle;
                content: "";
                margin-left: 9px;
                width: 16px;
                height: 12px;
                background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAMCAYAAABr5z2BAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA4RpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMTExIDc5LjE1ODMyNSwgMjAxNS8wOS8xMC0wMToxMDoyMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDpmOWY0YTI5Ny0yMTVjLTQwNDItYTBjMi01MWRiOWZkMDdiZjUiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6MTEyRTNGMzRBNUIwMTFFNjgwRDI4MTMyRjI0QURDODUiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6MTEyRTNGMzNBNUIwMTFFNjgwRDI4MTMyRjI0QURDODUiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTUgKFdpbmRvd3MpIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6YjkwZjFlMTgtNWViMi1lNjRhLWFjODktNWNmOGU5YWZiMzg4IiBzdFJlZjpkb2N1bWVudElEPSJhZG9iZTpkb2NpZDpwaG90b3Nob3A6NjRlMGE4MmMtOWI3Yy0xMWU2LTk2ODgtZGJkODZjMDEwYjZiIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+cNnTpQAAAJdJREFUeNpi+P//PwMhDATMsgqyhQoKChzockwMxIH/jAz/Y/8x/N2gqKjIgSxBlAFAm/79+8PgAmSJoRvCCHUiUUBWVlaIiYVhD1DbKyYG5oD79+//IMkAbIYwyinIpTMw/NMkyZT/DEIMjIyxQNZqJgYKAcVeYKFEM0mBiE0z0emAkZGRCZtmog0AhxUD42J0zSAAEGAAKmlp8jYsxQoAAAAASUVORK5CYII=");
                -webkit-background-size: 100%;
                     -o-background-size: 100%;
                        background-size: 100%;
            }
            &:hover {
                &:after {
                    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAMCAYAAABr5z2BAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA4RpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMTExIDc5LjE1ODMyNSwgMjAxNS8wOS8xMC0wMToxMDoyMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDpmOWY0YTI5Ny0yMTVjLTQwNDItYTBjMi01MWRiOWZkMDdiZjUiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6MkU0NzU1NDBBNUIwMTFFNjg1MTZBOTFERkNCRTRFMjEiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6MkU0NzU1M0ZBNUIwMTFFNjg1MTZBOTFERkNCRTRFMjEiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTUgKFdpbmRvd3MpIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6YjkwZjFlMTgtNWViMi1lNjRhLWFjODktNWNmOGU5YWZiMzg4IiBzdFJlZjpkb2N1bWVudElEPSJhZG9iZTpkb2NpZDpwaG90b3Nob3A6NjRlMGE4MmMtOWI3Yy0xMWU2LTk2ODgtZGJkODZjMDEwYjZiIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+mR2n+AAAAHxJREFUeNpi1KpTYyACMANxHhBPB+IfyBJMDMSB/0AcC8QbgJiDHAP+AbELEIuhG0KsASDwDpshpBiA1RAWIJEOxJokGnQFGiaLSHUBBgC5YCaJeoSAeA8Q7wTiOCYyNb8C4gBQmmCiRDMpscCETTMpBjAC8WJ0zSAAEGAAFokay5za4G4AAAAASUVORK5CYII=");
                }
            }
        }
    }
}

.type,
.date {
    display: inline-block;
    vertical-align: middle;
    margin-right: 100px;
    &:last-of-type {
        margin-right: 0;
    }
    i {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
    }
    p {
        display: inline-block;
        vertical-align: middle;
        text-align: left;
        color: $green;
        font: 21px $dseb;
        span {
            display: block;
            color: #000;
            font: 18px $dsa;
            margin-top: 5px;
        }
    }
}

.tags {
    font: 18px $dsa;
    margin-top: 40px;
    list-style-type: none;
    text-align: center;
    span {
        display: inline-block;
        vertical-align: middle;
        color: $grey;
    }
    li {
        color: $green;
        display: inline-block;
        vertical-align: middle;
        margin-right: 25px;
        &:last-of-type {
            margin-right: 0;
        }
    }
}

.share {
    a {
        display: inline-block;
        vertical-align: middle;
        width: 55px;
        height: 55px;
        border: 2px solid #fff;
        text-align: center;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        margin: 0 10px;
        -webkit-transition: all .2s;
           -moz-transition: all .2s;
            -ms-transition: all .2s;
             -o-transition: all .2s;
                transition: all .2s;
        i {
            display: inline-block;
            vertical-align: middle;
            background-image: url("../images/social.png");
        }
        &.fb {
            i {
                height: 16px;
                width: 10px;
                background-position: 0 0;
            }
            &:hover {
                i { background-position: 0 -17px;}
            }
        }
        &.tw {
            i {
               width: 16px;
                height: 16px;
                background-position: -36px 0;
            }
            &:hover {
                i { background-position: -36px -18px;}
            }
        }
        &.pn {
            i {
                height: 16px;
                width: 14px;
                background-position: 0 0;
                background-image: url("../images/pn.png");
            }
            &:hover {
                i { background-image: url("../images/pn_d.png");}
            }
        }
        &:before {
            height: 100%;
            content: "";
            display: inline-block;
            vertical-align: middle;
        }
        &:hover {
            background-color: #FFF;
        }
    }
}


.mfp-figure {
    opacity: 0;
    -webkit-transform: scale(.8);
       -moz-transform: scale(.8);
        -ms-transform: scale(.8);
         -o-transform: scale(.8);
            transform: scale(.8);
    -webkit-transition: .2s all .1s;
       -moz-transition: .2s all .1s;
        -ms-transition: .2s all .1s;
         -o-transition: .2s all .1s;
            transition: .2s all .1s;
}
.mfp-ready .mfp-figure {
    opacity: 1;
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
}