// COLORS
// ---------------------------
$grey: #414141;
$green: #8ec253;
$greenD: #2a7e26;

// FONTS
// ---------------------------
$g :    'Gotham Pro';
$dseb : 'Droid Serif Bold';
$dsab : 'Droid Sans Bold';
$dsa :  'Droid Sans';



// RESPONSIVE
// ---------------------------
